name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
      - run: npm ci && npm run build
      
      - name: Create service account key file
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RUBAN_PORTFOLIO }}' > $HOME/gcloud-key.json
      
      - name: Deploy to Firebase
        run: |
          npm install -g firebase-tools
          export GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-key.json
          firebase deploy --only hosting --project ruban-portfolio --non-interactive